html, body, .view {
  height: 100%;
}

.xs-spacer{
  padding-top: 25px;
}

.view {
  background: url('img-bg.jpg')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 80%;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.iframe-container > *{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.copyright-padding{
  padding-top: 4.5rem;
}

.top-padding{
    padding-top: 10px;
}

.gray-bg-top{
  background-color: whitesmoke;
  height: 75%;
}

.gray-bg-bottom{
  background-color: whitesmoke;
  height: 100%;
}

.button-padding{
    margin-bottom: 2rem;
}

.spacer {
  position: relative;
  top: 50%;
  margin-top: 30%;
}

.sm-text-spacer {
  margin-top: 1.5%;
}


.img-spacer-right {
  transform: translateX(20%);
}

.logo-resize {
    height: 180px;
    width: 450px;
}

.img-resize{
  height: 294px;
  width: 254px;
}

@media (max-width: 1440px) {
  .spacer {
    position: relative;
    top: 50%;
    margin-top: 27%;
  }

  h3{
    font-size: 1.5rem;

  }

  .sm-text-spacer {
    margin-top: 1.5%;
  }

  .gray-bg-top {
    background-color: whitesmoke;
    height: 90%;
  }

  .gray-bg-bottom{
    background-color: whitesmoke;
    height: 120%;
  }

  .copyright-padding{
    padding-top: 4rem;
  }

  .logo-resize {
      height: 120px;
      width: 300px;
  }

}

@media screen and (max-width: 1366px) {
  .spacer {
    position: relative;
    top: 50%;
    margin-top: 27%;
  }

  h3{
    font-size: 1.5rem;

  }

  .sm-text-spacer {
    margin-top: 1.5%;
  }

  .gray-bg-top {
    background-color: whitesmoke;
    height: 110%;
  }

  .gray-bg-bottom{
    background-color: whitesmoke;
    height: 120%;
  }

  .copyright-padding{
    padding-top: 4rem;
  }

  .logo-resize {
      height: 120px;
      width: 300px;
  }

}


@media screen and (max-width: 1280px) {
  .spacer {
    position: relative;
    top: 50%;
    margin-top: 27%;
  }

  .sm-text-spacer {
    margin-top: 1.5%;
  }

  .gray-bg-top {
    background-color: whitesmoke;
    height: 100%;
    margin-bottom: 10px;
  }

  .gray-bg-bottom{
    background-color: whitesmoke;
    height: 120%;
  }

  .copyright-padding{
    padding-top: 4rem;
  }

  .logo-resize {
      height: 120px;
      width: 300px;
  }

  .bottom-margin{
    margin-bottom: 10%;
  }

}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .spacer {
    position: relative;
    top: 50%;
    margin-top: 30%;
  }

  .sm-text-spacer {
    margin-top: 1.5%;
  }

  .gray-bg-top {
    background-color: whitesmoke;
    height: 100%;
  }

  .gray-bg-bottom{
    background-color: whitesmoke;
    height: 120%;
  }

  .copyright-padding{
    padding-top: 4rem;
  }

  .logo-resize {
      height: 120px;
      width: 300px;
  }

  .xs-spacer{
    margin-top: 0px;
  }

}


@media screen and (max-height: 600px) {

  .gray-bg-top {
    background-color: whitesmoke;
    height: 115%;
    margin-bottom: 16%;
  }


}

@media screen and (max-width: 1024px) {
  .spacer {
    position: relative;
    top: 50%;
    margin-top: 30%;
  }

  .sm-text-spacer {
    margin-top: 1.5%;
  }

  .gray-bg-top {
    background-color: whitesmoke;
    height: 105%;
  }

  .gray-bg-bottom{
    background-color: whitesmoke;
    height: 100%;
  }

  .copyright-padding{
    padding-top: 4rem;
  }

  .logo-resize {
      height: 120px;
      width: 300px;
  }

  .xs-spacer{
    margin-top: 0px;
  }

  .img-resize{
    height: 264px;
    width: 225px;
  }

}

@media screen and (max-width: 768px) {
  h1.display-4 {
    font-size: 2.2rem;
  }
  .sm-spacer {
    transform: translateY(10%);
  }
  div.spacer {
    transform: translateY(260%);
  }

  .gray-bg-top {
    background-color: whitesmoke;
    height: 110%;
  }

  .gray-bg-bottom{
    background-color: whitesmoke;
    height: 90%;
  }

  .logo-resize {
      height: 120px;
      width: 300px;
  }

  .spacer {
    margin-top: 55%;
  }

  .xs-spacer{
    margin-top: 0px;
  }
}

@media screen and (max-width: 640px) {
  h1.display-4 {
    font-size: 2.2rem;
  }
  .sm-spacer {
    transform: translateY(10%);
  }
  div.spacer {
    transform: translateY(260%);
  }

  .gray-bg-top {
    background-color: whitesmoke;
    height: 115%;
  }

  .gray-bg-bottom{
    background-color: whitesmoke;
    height: 80%;
  }

  .logo-resize {
      height: 120px;
      width: 300px;
  }

  .img-resize{
    height: 264px;
    width: 225px;
  }

  .spacer {
    margin-top: 60%;
  }

  .xs-spacer{
    margin-top: 0px;
  }
}

@media screen and (max-width: 480px) {
  h1.display-4 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.2rem;

  }

  .sm-spacer {
    transform: translateY(8%);
  }

  div.spacer {
    transform: translateY(380%);
  }

  .img-resize{
    height: 200px;
    width: 165.5px;
    margin-bottom: 30px;
  }

  .gray-bg-top {
    background-color: whitesmoke;
    height: 113%;
  }

  .gray-bg-bottom{
    background-color: whitesmoke;
    height: 75%;
  }

  .logo-resize {
      height: 90px;
      width: 225px;
  }

  .spacer {
    margin-top: 75%;
  }

  .xs-spacer{
    margin-top: 0px;
  }
}

@media screen and (max-width: 375px) {
  h1.display-4 {
    font-size: 1.6rem;
  }
  .sm-spacer {
    transform: translateY(8%);
  }

  div.spacer {
    transform: translateY(400%);
  }

  .img-resize{
    height: 156.4px;
    width: 132.4px;
    margin-bottom: 10px;
  }

  .gray-bg-top {
    background-color: whitesmoke;
    height: 135%;
  }

  .gray-bg-bottom{
    background-color: whitesmoke;
    height: 65%;
  }

  .logo-resize {
      height: 90px;
      width: 225px;
  }

  .spacer {
    margin-top: 100%;
  }

  .xs-spacer{
    margin-top: 0px;
  }

}

@media screen and (max-width: 320px) {
  h1.display-4 {
    font-size: 1.6rem;
  }
  h3{
    font-size: 1.1rem;

  }
  div.spacer {
    transform: translateY(410%);
  }

  div.view {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .sm-spacer {
    transform: translateY(5%);
  }

  .img-resize{
    height: 147px;
    width: 127px;
  }

  .gray-bg-top {
    background-color: whitesmoke;
    height: 205%;
  }

  .gray-bg-bottom{
    background-color: whitesmoke;
    height: 65%;
  }

  .spacer {
    margin-top: 60%;
  }

  .xs-spacer{
    margin-top: 0px;
  }

}
