html, body, .view {
  height: 100%;
}

.xs-spacer{
  padding-top: 25px;
}

.view {
  background: url('img-bg.jpg')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 80%;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.iframe-container > *{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.copyright-padding{
  padding-top: 4.5rem;
}

.top-padding{
    padding-top: 10px;
}

.gray-bg-top{
  background-color: whitesmoke;
  height: 85%;
}

.gray-bg-bottom{
  background-color: whitesmoke;
  height: 100%;
}

.button-padding{
    margin-bottom: 2rem;
}

.spacer {
  position: relative;
  top: 50%;
  transform: translateY(450%);
}

.md-text-spacer {
  transform: translateY(85%);
}

.sm-text-spacer {
  margin-top: 1.5%;
}

.img-spacer-right {
  transform: translateX(20%);
}

.img-resize{
  height: 294px;
  width: 254px;
}

@media screen and (max-width: 1600px) {
  .spacer {
    position: relative;
    top: 50%;
    transform: translateY(210%);
  }

  .sm-text-spacer {
    margin-top: 1.5%;
  }

  .gray-bg-top {
    background-color: whitesmoke;
    height: 155%;
  }

  .gray-bg-bottom{
    background-color: whitesmoke;
    height: 175%;
  }

  .copyright-padding{
    padding-top: 4rem;
  }

}

@media screen and (max-width: 1440px) {
  .spacer {
    position: relative;
    top: 50%;
    transform: translateY(210%);
  }

  .sm-text-spacer {
    margin-top: 1.5%;
  }

  .gray-bg-top {
    background-color: whitesmoke;
    height: 160%;
  }

  .gray-bg-bottom{
    background-color: whitesmoke;
    height: 175%;
  }

  .copyright-padding{
    padding-top: 4rem;
  }

}

@media screen and (max-width: 1024px) {
  .spacer {
    position: relative;
    top: 50%;
    transform: translateY(200%);
  }

  .sm-text-spacer {
    margin-top: 1.5%;
  }

  .gray-bg-top {
    background-color: whitesmoke;
    height: 160%;
  }

  .gray-bg-bottom{
    background-color: whitesmoke;
    height: 160%;
  }

  .copyright-padding{
    padding-top: 4rem;
  }

}

@media screen and (max-width: 768px) {
  h1.display-4 {
    font-size: 2.2rem;
  }
  .sm-spacer {
    transform: translateY(10%);
  }
  div.spacer {
    transform: translateY(310%);
  }

  .gray-bg-top {
    background-color: whitesmoke;
    height: 168%;
  }

  .gray-bg-bottom{
    background-color: whitesmoke;
    height: 135%;
  }
}

@media screen and (max-width: 480px) {
  h1.display-4 {
    font-size: 1.6rem;
  }
  .sm-spacer {
    transform: translateY(8%);
  }

  div.spacer {
    transform: translateY(310%);
  }

  .img-resize{
    height: 220.5px;
    width: 190.5px;
  }

  .gray-bg-top {
    background-color: whitesmoke;
    height: 163%;
  }

  .gray-bg-bottom{
    background-color: whitesmoke;
    height: 107%;
  }

}

@media screen and (max-width: 320px) {
  h1.display-4 {
    font-size: 1.6rem;
  }
  h3{
    font-size: 1.3rem;

  }
  div.spacer {
    transform: translateY(300%);
  }

  div.view {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .sm-spacer {
    transform: translateY(5%);
  }

  .img-resize{
    height: 147px;
    width: 127px;
  }

  .gray-bg-top {
    background-color: whitesmoke;
    height: 195%;
  }

  .gray-bg-bottom{
    background-color: whitesmoke;
    height: 95%;
  }

}
